    {
    "aggregations": {
        "brand": {
          "terms": {
            "field": "brand"
          }
        }
      },
        "query": {
          "terms": {
            "categories": [
              "{{#categories}}",
              "{{.}}",
              "{{/categories}}"
            ]
          }
        }
      }