{  
    "size":{{size}}{{^size}}10{{/size}},
    {{#from}}"from":{{from}},{{/from}}
"aggregations": {
        "brand": {
          "terms": {
            "field": "brand"
          }
        },
        "min_price": {
            "min": {
                "field": "price"
            }
        }
        ,
        "max_price": {
            "max": {
                "field": "price"
            }
        }
      },


    "query": {
        "bool": {
            "must": [
                {
                    "match_phrase_prefix": {
                        "categoriesMap": "{{categoriesMap}}"
                    }
                },
                {
                    "query_string":{  
                        "default_field":"title",
                        "query":"{{keyword}}"
                     }
                }
            ],
            "filter": []
        }
    }

}