{
    "size": 4,
    "query": {
        "bool": {
            "should": [
                {
                    "match": {
                        "term": "{{keyword}}"
                    }
                },
                {
                    "match_phrase_prefix": {
                        "term": "{{keyword}}"
                    }
                },
                {
                    "query_string": {
                        "default_field": "term",
                        "query": "{{keyword}}"
                    }
                }
            ]
        }
    }
}