{
    "size": 4,
    "query": {
        "bool": {
            "should": [
                {
                    "match_phrase_prefix": {
                        "term": "{{keyword}}"
                    }
                },
                {
                    "match": {
                        "term": "{{keyword}}"
                    }
                }
            ],
            "boost": 1
        }
    }
}